body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    box-sizing: border-box;
}

.grid-item {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.color-container {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 20px;
    margin-bottom: 40px;
    gap: 20px;
    width: 100%;
}

